<p id="notice"><%= notice %></p>

<div class="category-hero">
  <h1>Local Opps by Category</h1> 
</div>


<div class="row">
    <% @categories.each do |category| %>
      <div class="col s3">
        <div class="card">
            <img src="<%= category.image %>">
                      <p><%= category.name %></p>
                      <%= link_to "More Info", category %>
        </div>             
      </div>
   <% end %>
</div>

<br>
<%= link_to 'New Category', new_category_path %>
