<!DOCTYPE html>
<html>
<head>
  <title>United</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" type="image/png" href="https://www.gtcuw.org/amm/themes/united_way_2012/images/favicon.ico">
</head>
<body class="main">
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo">Live United</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Committed</a></li>
        <li><a href="#">Opportunities</a></li>
        <%if signed_in?%>
          <li><%=link_to current_user.email, edit_user_registration_path%></li>
          <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
        <%else%>
          <li><%=link_to "Login", new_user_session_path%></li>
        <%end%>
      </ul>
      <ul class="side-nav" id="mobile-demo">
      	<li><%= image_tag "logo.png" %></li>
        <li><a href="#">Committed</a></li>
        <li><a href="#">Opportunities</a></li>
        <%if signed_in?%>
          <li><%=link_to current_user.email, edit_user_registration_path%></li>
          <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
        <%else%>
          <li><%=link_to "Register", new_user_registration_path%></li>
          <li><%=link_to "Login", new_user_session_path%></li>
        <%end%>
      </ul>
    </div>
  </nav>

<div class="card">
  <div class="container">
  	<%= yield %>
  </div>
</div>


</body>
</html>
